* {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.array-container {
    align-items: middle;
}

/* Possibly add ability to change width with change in number of bars */
.array-bar {
    background-color: lightblue;
    display: inline-block;
    width: 0.2em;
    margin: 2em 0.05em 0 0.05em;

}

.bottom-screen {
    margin: 0 5em 0.1em 5em;
    padding: 2em 5em 2em 5em;
    border-radius: 0.3em;
    font-size: 0.5em;
}
